@font-face {
  font-family: 'iannnnnCPU2005';
  src: url('./fonts/2005_iannnnnCPU.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'iannnnnCPU2005', sans-serif;
}
